In [1]:
import pandas as pd 
 
dmd = pd.read_csv("D:/Case Study/Promotional Channels/DMD/Preformist Terrain Email HCP Level Report.csv") 

dmd.head()

,DMD JOB ID,CLIENT JOBID,DEA NUMBER,EVENT TYPE,COUNT,EVENT DATE,CLICK LINK,ENGAGEMENT PLATFORM ID,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,88472,NaN,139969,DELIVERED,NaN,2016-11-08,NaN,NaN,NaN,NaN,2016-11-08
1,88472,NaN,147366,DELIVERED,NaN,2016-11-08,NaN,NaN,NaN,NaN,NaN
2,88472,NaN,156043,DELIVERED,NaN,2016-11-08,NaN,NaN,NaN,NaN,NaN
3,88472,NaN,156119,DELIVERED,NaN,2016-11-08,NaN,NaN,NaN,NaN,NaN
4,88472,NaN,159749,DELIVERED,NaN,2016-11-08,NaN,NaN,NaN,NaN,NaN

In [2]:
from datetime import datetime
from datetime import timedelta
a=dmd.loc[:,'EVENT DATE']
#type(a[1])

In [3]:
for i in range(0,len(a)):
    x=str.split(a[i])[0]
    tmp=datetime.strptime(x,'%Y-%m-%d')
    week_day=tmp.weekday()
    if(week_day!=4):
        tmp=tmp+timedelta(days=4-week_day)
        #tmp=datetime.strptime(tmp,'%Y-%m-%d')
        a[i]=""+str(tmp)
    else:
        #tmp=datetime.strptime(tmp,'%Y-%m-%d')
        a[i]=""+str(tmp)

c:\users\a1981\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:
print(a)

0        2016-11-11 00:00:00
1        2016-11-11 00:00:00
2        2016-11-11 00:00:00
3        2016-11-11 00:00:00
4        2016-11-11 00:00:00
5        2016-11-11 00:00:00
6        2016-11-11 00:00:00
7        2016-11-11 00:00:00
8        2016-11-11 00:00:00
9        2016-11-11 00:00:00
10       2016-11-11 00:00:00
11       2016-11-11 00:00:00
12       2016-11-11 00:00:00
13       2016-11-11 00:00:00
14       2016-11-11 00:00:00
15       2016-11-11 00:00:00
16       2016-11-11 00:00:00
17       2016-11-11 00:00:00
18       2016-11-11 00:00:00
19       2016-11-11 00:00:00
20       2016-11-11 00:00:00
21       2016-11-11 00:00:00
22       2016-11-11 00:00:00
23       2016-11-11 00:00:00
24       2016-11-11 00:00:00
25       2016-11-11 00:00:00
26       2016-11-11 00:00:00
27       2016-11-11 00:00:00
28       2016-11-11 00:00:00
29       2016-11-11 00:00:00
                ...
19573    2016-11-11 00:00:00
19574    2016-11-11 00:00:00
19575    2016-11-11 00:00:00
19576    2016-11-11 00:00:00
19577    2016-11-11 00:00:00
19578    2016-11-11 00:00:00
19579    2016-11-11 00:00:00
19580    2016-11-11 00:00:00
19581    2016-11-11 00:00:00
19582    2016-11-11 00:00:00
19583    2016-11-11 00:00:00
19584    2016-11-11 00:00:00
19585    2016-11-11 00:00:00
19586    2016-11-11 00:00:00
19587    2016-11-11 00:00:00
19588    2016-11-11 00:00:00
19589    2016-11-11 00:00:00
19590    2016-11-11 00:00:00
19591    2016-11-11 00:00:00
19592    2016-11-11 00:00:00
19593    2016-11-11 00:00:00
19594    2016-11-11 00:00:00
19595    2016-11-11 00:00:00
19596    2016-11-11 00:00:00
19597    2016-11-11 00:00:00
19598    2016-11-11 00:00:00
19599    2016-11-11 00:00:00
19600    2016-11-11 00:00:00
19601    2016-11-11 00:00:00
19602    2016-11-11 00:00:00
Name: EVENT DATE, Length: 19603, dtype: object

In [16]:
new_dmd = pd.DataFrame({'EVENT DATE': a})

In [17]:
dmd.update (new_dmd)

In [19]:
dmd

,DMD JOB ID,CLIENT JOBID,DEA NUMBER,EVENT TYPE,COUNT,EVENT DATE,CLICK LINK,ENGAGEMENT PLATFORM ID,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,88472,NaN,139969,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,2016-11-08
1,88472,NaN,147366,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
2,88472,NaN,156043,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
3,88472,NaN,156119,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
4,88472,NaN,159749,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
5,88472,NaN,159749,ENGAGEMENT_PLATFORM,NaN,2016-11-11 00:00:00,NaN,1.0,NaN,NaN,NaN
6,88472,NaN,159749,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
7,88472,NaN,160299,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
8,88472,NaN,160484,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
9,88472,NaN,160651,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
10,88472,NaN,164415,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
11,88472,NaN,165200,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
12,88472,NaN,167016,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
13,88472,NaN,173522,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
14,88472,NaN,173856,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
15,88472,NaN,173856,ENGAGEMENT_PLATFORM,NaN,2016-11-11 00:00:00,NaN,1.0,NaN,NaN,NaN
16,88472,NaN,173856,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
17,88472,NaN,190500,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
18,88472,NaN,200014,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19,88472,NaN,200036,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
20,88472,NaN,200037,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
21,88472,NaN,200143,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
22,88472,NaN,201011,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
23,88472,NaN,201030,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
24,88472,NaN,201047,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
25,88472,NaN,201048,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
26,88472,NaN,201064,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
27,88472,NaN,201086,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
28,88472,NaN,202018,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
29,88472,NaN,202027,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
19573,88472,NaN,170001,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19574,88472,NaN,177009,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19575,88472,NaN,188013,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19576,88472,NaN,196002,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19577,88472,NaN,197009,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19578,88472,NaN,284008,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19579,88472,NaN,286005,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19580,88472,NaN,288006,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19581,88472,NaN,291018,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19582,88472,NaN,298003,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19583,88472,NaN,299007,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19584,88472,NaN,363002,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19585,88472,NaN,790004,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19586,88472,NaN,876003,ENGAGEMENT_PLATFORM,NaN,2016-11-11 00:00:00,NaN,1.0,NaN,NaN,NaN
19587,88472,NaN,876003,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19588,88472,NaN,876003,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19589,88472,NaN,881002,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19590,88472,NaN,194001,DELIVERED,NaN,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19591,88472,NaN,67750,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19592,88472,NaN,106211,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19593,88472,NaN,107034,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19594,88472,NaN,131842,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19595,88472,NaN,147677,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19596,88472,NaN,147677,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19597,88472,NaN,215900,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19598,88472,NaN,215900,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19599,88472,NaN,288517,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19600,88472,NaN,369187,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19601,88472,NaN,376958,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN
19602,88472,NaN,376958,OPENED,1.0,2016-11-11 00:00:00,NaN,NaN,NaN,NaN,NaN

In [21]:
from datetime import datetime
from datetime import timedelta
def change_date(dataName,colName ):
    a=dataName.loc[:,colName]
    for i in range(0,len(a)):
        x=str.split(a[i])[0]
        tmp=datetime.strptime(x,'%Y-%m-%d')
        week_day=tmp.weekday()
        if(week_day!=4):
            tmp=tmp+timedelta(days=4-week_day)
            #tmp=datetime.strptime(tmp,'%Y-%m-%d')
            a[i]=""+str(tmp)
        else:
            #tmp=datetime.strptime(tmp,'%Y-%m-%d')
            a[i]=""+str(tmp)
    new_dataFrame = pd.DataFrame({colName: a})
    dataName.update (new_dataFrame)
    return dataname

# call function in the format
#DataFrameName=change_date(DataFrameName,colName_having_date)